@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>All suer information</p>
</div>
@{
 
<div class="container">
    <div class="row">
        @foreach(var item in Model.UserList)
        {
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="@item.Photo" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.FullName</h5>
                        <p class="card-text">About Me: @item.AboutMe</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Gender: @item.Gender</li>
                                <li class="list-group-item">Email: @item.Email</li>
                                <li class="list-group-item">Credit Card Number: @item.CreditCardNumber</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

