@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>All suer information</p>
</div>
@{
 
<div class="container">
    <div class="row">
        
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="@Model.user.Photo" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.user.FullName</h5>
                        <p class="card-text">About Me: @Model.user.AboutMe</p>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Gender: @Model.user.Gender</li>
                                <li class="list-group-item">Email: @Model.user.Email</li>
                                <li class="list-group-item">Credit Card Number After Encryption: @Model.user.CreditCardNumber</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
}

