@page
@model FreshFarmMarket_211283E.Pages.ViewLogsModel
@{
}
@if (User.IsInRole("Admin"))
{
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Action</th>
            <th>Description</th>
            <th>Time of Creation</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var log in Model.LogsList)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.User</td>
                <td>@log.Action</td>
                <td>@log.Description</td>
                <td>@log.CreateTime</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <p>You do not have access to this page.</p>
}
